- var doc_route = {root_path:"plugins",path:"easy-responsive-tabs",name_section:"Plugins",name_chapter:"Easy Responsive Tabs"}

doctype html
html(lang="en")
  head
    include _head.jade
  body(class="#{def_class_body}")
    include _layout_default.jade
    include snippets/_scripts.html