- var doc_route = {root_path:"components",path:"navbar",name_section:"Components",name_chapter:"Navbar"}

doctype html
html(lang="en")
  head
    include _head.jade
  body(class="#{def_class_body}")
    include _layout_default.jade
    include snippets/_scripts.html